*{padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    }
    body {
      background-color: #fffdfd;
    }
    
    body header {
      padding-left: 250px;
      padding-top: 5px;
      background-color:#ffcb22;
      display: grid;
        grid-template-columns: 8fr 8fr 6fr 6fr;
        justify-items: center;
        align-items: center;
      width: 100%;
      height: 60px;
    }

    body header img {
      width: 30px;
            height: 30px;

            transform: rotate(-180deg);
    }


    
      
      h2 {
          color: rgb(255, 255, 255);
        }
    
    #voltar{
      width: 40px;
      margin-right:165px; 
    }
    body #formulario {
      width: 600px;
      height: 700px;
      margin: 50px auto;
      padding: 30px 30px;
      border: 1px solid #bebebe;
      border-radius: 14px;
      box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    body #formulario form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 20px;
    }
    body #formulario form div {
      display: flex;
      flex-direction: column;
      width: 70%;
    }
    body #formulario form div input {
      margin-top: 5px;
      padding: 10px;
      font-size: 15px;
      height: 40px;
      border-radius: 5px;
      box-shadow: 0 0 0 0;
      border: 1px solid #bbbbbb;
      outline: 0;
    }
    body #formulario form div input:focus {
      border: 1px solid #ffcb22;
    }
    body #formulario form div {
      margin-top: 10px;
      margin-bottom: 15px;
    }
    #foto{
      input[type="file"] {
        display: none;
      }

      #containerImage {
        width: 100%;
        height: 250px;

        display: none;

        img {
          width: 100%;
          height: 100%;
        }
      }

      label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        padding:50px;
        border-radius: 5px;
        box-shadow: 0 0 0 0;
        border: 1px solid #bbbbbb;  
        background-color: #fffdfd;
        color: #ffcb22;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-top: 10px;
        
        cursor: pointer;
      }
    }
    body #formulario form button {
      font-size: 20px;
      background-color: #ffcb22;
      color: #ffffff;
      border: 0;
      border-radius: 20px;
      width: 70%;
      height: 50px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      margin-top: 10px;
      
    }
    body #formulario form button:hover {
      transform: scale(1.1);
    }
    
    